.error404
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.error404 h1
{
    text-align: center;
    font-size: 10rem;
    color: var(--secondary-color);
    font-family: var(--tertiary-font);
    font-weight: 900;
}

.error404 .btn
{
    background: var(--quaternary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: var(--tertiary-font);
    font-weight: 900;
    color: var(--primary-color);
    transition: background color 0.3s ease-in-out;
}