/* Variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --primary-color: #fafcfa;
    --primary-color-darker: #979797;
    --secondary-color: #050005;
    --tertiary-color: #00ec77;
    --quaternary-color: #3e19c5;
    --quinary-color: #f93842;
    --senary-color: #fbc000;
    --senary-color-lighter: #f0db96;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
    --tertiary-font: 'Roboto Flex', sans-serif;
    --quaternary-font: 'Roboto Mono', sans-serif;
    --quinary-font: 'Roboto Serif', sans-serif;
    --senary-font: 'Roboto Slab', sans-serif;
    --septenary-font: 'Sofia Sans', sans-serif;


}

/* Footer */

footer
{
    margin: 5rem 0 0 0;
    background: var(--secondary-color);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 2rem 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.footer-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.footer-content .footer-logo a
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    flex-direction: row;
}
.footer-content .footer-logo .para
{
    width: 200px;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-left: 1rem;
}

.footer-content .footer-logo a h1
{
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--septenary-font);
    color: var(--primary-color);
    margin-left: 1rem;
}
.footer-content .footer-logo a h1 span
{
    font-style: italic;
    font-weight: 100;
}


.footer-content .footer-logo a img
{
    width: 50px;
}

.footer-content .footer-links
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}


.footer-content .footer-links ul
{
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}

.footer-content .footer-links ul li
{
    margin: 0.5rem 0;
}
.footer-content ul li a
{
    text-decoration: none;
    color: var(--primary-color);
}

.footer-content ul li a:hover
{
    color: var(--tertiary-color);
}

.footer-content .footer-contact
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem 0;
}
.footer-content .footer-contact .footer-input
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.footer-content .footer-contact .footer-input input
{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background: var(--primary-color);
}

.footer-content .footer-contact .footer-input textarea
{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background: var(--primary-color);
    resize: none;
}

.footer-content .footer-contact .footer-input button
{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.footer-content .footer-contact .footer-input button:hover
{
    background: var(--quaternary-color);
}

.footer-content .footer-contact .footer-input button:active
{
    background: var(--quinary-color);
}


.footer-content .footer-social
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}

.footer-content .footer-social ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem 0;
    gap: 2rem;
}

.footer-content .footer-social ul li a
{
    text-decoration: none;
    font-size: 2rem;
}